<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Page 1 Title</title>

  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <!-- Other javascript, css source files -->
</head>
<body>
<header>
  <h2>HUTECH CNTT 20DTHE4 </h2>
</header>
<section>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/product">Product</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <article layout:fragment="content" style="text-align: center">
    <h2>TRANG CHỦ</h2>
  </article>
</section>
<footer>
  <p>HUTECH CNTT 20DTHE4</p>
</footer>
</body>
</html>